<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer/' %>
    </div>
    <!-- >
    <%= link_to "Home", static_pages_home_url %> | <%= link_to "About", static_pages_about_url %> | <%= link_to "Help", static_pages_help_url %> | <%= link_to "Contact", static_pages_contact_url %> 
    <!-->
  </body>
</html>
